body{   
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.m1{
    display: flex;
}

nav {
    background-color: #232939;
    width: 5rem;
    height: 100vh;
}

a{
    display: flex;
    text-decoration: none;
}

.div-lateral img {   
    width: 2rem;
    height: 2rem;
    margin: 1.5rem auto;
}

.div-lateral .image-empresa {   
    margin-top: 5rem;
}

.div-lateral .image-photo {   
    width: 3rem;
    height: 3rem;
    margin-top: 14rem;
}

.div-head{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
    margin-top: 3rem;
}

.div-head .head{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 40px;
}

.div-head .head h2{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-right: 3rem;
}

.div-head .head a{
    background-color: #F2F3F5;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    align-self: center;
    margin-left: 2rem;
}

.div-head .head img{
    width: 1.2rem;
    height: 1.2rem;
    align-self: center;
    padding-left: 0.3rem;
}

.div-head h1{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    align-self: center;
}

.div-part1 h3{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 5rem;
    margin-top: 3rem;
}

.div-part2 {
    display: flex;
    justify-content: space-around;
}

.div-part2 input {
    width: 230px;
    height: 50px;

    text-align: center;
    font-size: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-top: 3px solid #868B98;
    background: #F2F3F5;
    border-radius: 0px 0px 3px 3px;
}

.div-part2 input:hover{
    border-top: 3px solid #3167C0;
    font-size: 20px;
    color: black;
}

.part3 {
    display: flex;
    
}

.part3 .partLogo .logoImg{

    margin-top: 3rem; 
    margin-left: 8rem;
    width: 180px;
    height: 180px;
    background: #F2F3F5;
    border: 1px dashed #868B98;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #232939;
}

.part3 .partLogo h4 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #232939;

    margin-left: 8rem; 
    width: 180px; 
}

.part3 .partLine1 {
    display: flex;
    justify-content: space-between;
    width: 670px;
    height: 90px;

    margin-top: 3rem;
    margin-left: 1rem;
}

.part3 .partLine1 .partLine11 p,
.part3 .partLine1 .partLine12 p,
.part3 .partLine2 p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    margin-bottom: 2px;
    color: #999999;;
}

.part3 .partLine1 .partLine11 input{
    width: 208px;
    height: 40px;

    background: #F2F3F5;
    border-radius: 2px 2px 0px 0px;
    border: none;
    
    background-image: url('/images/Reload.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 180px;

    border-bottom: solid 2.5px #868B98;
}
.part3 .partLine1 .partLine11 input:hover{
    border-bottom: solid 2.5px #3167C0;
}

.part3 .partLine1 .partLine12 input {
    width: 438px;
    height: 40px;

    background: #F2F3F5;
    border-radius: 2px 2px 0px 0px;
    border: none;
    
    border-bottom: solid 2.5px #868B98;
}

.part3 .partLine1 .partLine12 input:hover{
    border-bottom: solid 2.5px #3167C0;
}

.part3 .partLine2 {
    width: 670px;
    height: 90px;

    margin-top: -1rem;
    margin-left: 1rem;
}

.part3 .partLine2 input {
    width: 248px;
    height: 40px;

    background: #F2F3F5;
    border-radius: 2px 2px 0px 0px;
    border: none; 

    border-bottom: solid 2.5px #868B98;
}

.part3 .partLine2 input:hover{
    border-bottom: solid 2.5px #3167C0;
}

.m2 .div-button button{
    width: 180px;
    height: 50px;

    background: #34CB79;
    border-radius: 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    border: none;
}

.m2 .div-button {
    margin-left: 1020px;
}