
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 115rem;
    margin-top: 3rem;
}

.back {
    background-color: #F2F3F5;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content:center;

    margin-left: 5.4rem;
}

.back a {
    font-size: 1.8rem;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 2.1rem;
    color: #232939;

    text-decoration: none;

    margin-left: 2rem;
}

.back img {
    margin-left: 7.4rem;
}

.login-container {
    width: 1rem;
    height: 8rem;

    margin-left: auto;
    margin-right: 2.2rem;
}

main {
    width: 700px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 2.2rem;
}

main .field1 img {
    width: 6rem;
    height: 3rem;
}

main .field1 strong {
    width: 28rem;
    line-height: 4.2rem;
    font-size: 3.2rem;
    font-family: Ubuntu;
    font-weight: 700;
    color: #232939;

    margin-left: 1.2rem;
}

main .field2 p{
    width: 39rem;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 1.8rem;
    color: #232939;

    margin-top: 1.2rem;
    text-align: justify;
}

main .input-email {
    margin-top: 1.2rem;
}

main .input .input-email label,
main .input .input-smartcode label  {
    font-family: Ubuntu;
    font-size: 1.4rem;
    font-weight: 700;
}

main .input .input-email input {
    width: 53rem;
    margin-top: 0.4rem;

    cursor: pointer;
    line-height: 3rem;
    background: none;
    border-bottom: 2px solid #dfdfdf;

    transition: 0.2s;
}

main .input-email input:hover {
    border-bottom: 2px solid var(--color-primary-darker);
}

main .input .input-smartcode {
    margin-top: 3rem;
  
}

main .input .input-smartcode .smartcode {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

}

main .input-smartcode input {
    width: 53rem;
    margin-top: 0.4rem;

    cursor: pointer;
    line-height: 3rem;
    background: none;
    border-bottom: 2px solid #dfdfdf;

    transition: 0.2s;
}

main .input-smartcode input:hover {
    border-bottom: 2px solid var(--color-primary-darker);

}

.send {
    margin-top: 2.4rem;
}

.send button{
    width: 53rem;
    height: 5rem;
    background-color: #3167C0;
    border-radius: 0.5rem;

    color: #ffffff;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 1.8rem;

    transition: 0.2s;
}

.send button:hover {
    background-color: blue;
    cursor: pointer;
} 

/* arrumarrrrr */

#page_recovery main footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    margin-top: 12rem;
    margin-left: -280px;
}

#page_recovery main footer h3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#page_recovery main footer h3 p,
#page_recovery main footer h3 strong {
    font-weight: 700;
    font-family: Ubuntu;
    font-size: 1.4rem;
}

#page_recovery main footer h3 strong {
    color: #3167C0;
    margin-left: 0.5rem;
}

#page_recovery main footer .help {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: -30rem;

}

#page_recovery main footer .help img {
    width: 20px;
    height: 23.33px;
    margin-right: 0.5rem;
}

#page_recovery main footer .help a {
    font-family: Ubuntu;
    font-size: 1.4rem;
    font-weight: 700;

    margin-right: 1.4rem;

    text-decoration: none;
}
